.themeBtn {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 10px;
  border-width: 1px;
  border-color: white;
  border-style: hidden solid;
  margin-right: 10px;
  color: white;
}
