.navDiv{
  text-align: left;
  border: 1px white;
  border-style: solid hidden solid solid;
  border-radius: 8px;
  margin: 40px;
}
.navlist{
  padding-left: 20px;
  list-style: none;
  color: white;
}