$colorMain: pink;
$colorBg: darkred;

$colorMainBlue: #00aeff;
$colorMainGreen: #28d2d0;

$colorBg01: rgb(42, 148, 95);
// used in:

// NavSlider bg
// StopWatchHooks bg buttons
// LoaderPage bg
// ViewProducts bg
// ViewEvents bg
// ViewUsers bg

$colorBg02: rgb(128, 128, 128);
// used in:

// StopWatchHooks bg

$colorBright01: rgb(115, 255, 0);
// used in:

// LoaderPage hover li
// ViewUsers hover p
// Chat hover h3, p
