form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputWrapper {
  position: relative;
}
.errorText {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -20px;
  padding: 10px;
  text-align: left;
  font-size: x-small;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  animation-name: errorAppear;
  animation-duration: 1s;
  @keyframes errorAppear {
    from {
      color: #00aeff;
    }
    to {
      color: yellow;
    }
  }
}
.submitBtn {
  margin: 20px auto;
  width: 602px;
  height: 50px;
  color: white;
  background-color: #28d2d0;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
}
.submitBtn {
  width: 280px;
}
